{
  admin 0.0.0.0:2019
  auto_https disable_redirects
}

http://api.127.0.0.1.nip.io {
  reverse_proxy api:4000
}

http://127.0.0.1.nip.io {
  reverse_proxy dashboard:3001
}

http://*.apps.127.0.0.1.nip.io {
  respond "No deployment route found yet" 404
}

:80 {
  respond "Vcloudrunner Caddy is running" 200
}
