{
  admin 0.0.0.0:2019
}

api.127.0.0.1.nip.io {
  tls internal
  reverse_proxy api:4000
}

127.0.0.1.nip.io {
  tls internal
  reverse_proxy dashboard:3001
}

*.apps.127.0.0.1.nip.io {
  tls internal
  respond "No deployment route found yet" 404
}

:80 {
  respond "Vcloudrunner Caddy is running" 200
}
